.pic-principal-1 {
    background-image: url('https://raw.githubusercontent.com/dominique120/1684/master/img/slide2.jpg');
}

.pic-principal-2 {
    background-image: url('https://raw.githubusercontent.com/dominique120/1684/master/img/EUR.JPEG');
}

.pic-principal-3 {
    background-image: url('https://raw.githubusercontent.com/dominique120/1684/master/img/ASI.JPEG');
}

.pic-principal-4 {
    background-image: url('https://raw.githubusercontent.com/dominique120/1684/master/img/AUS.JPEG');
}