* {
    max-width: 1200px;
    margin: 0px;
    margin: auto;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    transition: top 0.9s;
    font-family: 'Montserrat', sans-serif;
}

#logo {
    z-index: +1;
}

/*  ultimos viajes */

section#features {
    width: 0px auto;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section#features div.grid {
    display: table-cell;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px 10px 35px 10px;
}

section#features img.icon {
    border-radius: 10%;
    height: 250px;
}

section#features div.desc {
    min-width: 180px;
    line-height: 1.5;
}

section#features div.desc h2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1419px) {
    section#features div.grid {
        display: block;
        align-items: center;
        text-align: center;
        width: calc(100% / 3);
        margin: 10px 10px 35px 10px;
    }
    section#features {
        padding-top: 80px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    section#features div.desc {
        min-width: 300x;
        line-height: 1.5;
    }
    section#features div.desc h2 {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.8px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 550px) {
    section#features {
        padding-top: 80px;
        display: block;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    section#features div.desc {
        min-width: 430px;
        line-height: 1.5;
    }
}

/*ultimos viajes*/

/*slider*/

.slider, .slider>div {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center top;
    display: block;
    width: 100%;
    height: 800px;
    /* height: 100vh; */
    /* If you want fullscreen */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.slider>div {
    position: absolute;
}

.slider>i {
    color: #5bbd72;
    position: absolute;
    font-size: 60px;
    margin: 20px;
    top: 40%;
    text-shadow: 0 10px 2px #223422;
    transition: .3s;
    width: 30px;
    padding: 10px 13px;
    background: #fff;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    line-height: 0;
    box-sizing: content-box;
    border-radius: 3px;
    z-index: 4;
}

.slider>i svg {
    margin-top: 3px;
}

.slider>.left {
    left: -100px;
}

.slider>.right {
    right: -100px;
}

.slider:hover>.left {
    left: 0;
}

.slider:hover>.right {
    right: 0;
}

.slider>i:hover {
    background: #fff;
    background: rgba(255, 255, 255, .8);
    transform: translateX(-2px);
}

.slider>i.right:hover {
    transform: translateX(2px);
}

.slider>i.right:active, .slider>i.left:active {
    transform: translateY(1px);
}

.slider:hover>div {
    transform: scale(1.01);
}

.hoverZoomOff:hover>div {
    transform: scale(1);
}

.slider>ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 4;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
}

.logo {
    top: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 4;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
}

.slider>ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 4;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
}

.slider>ul>li {
    opacity: 0.5;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    list-style: none;
    float: left;
    margin: 10px 10px 20px;
    cursor: pointer;
    border: 1px solid black;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider>ul>.showli {
    opacity: 0.5;
    background-color: #d3a700;
    -moz-animation: boing .5s forwards;
    -o-animation: boing .5s forwards;
    -webkit-animation: boing .5s forwards;
    animation: boing .5s forwards;
}

.slider>ul>li:hover {
    background-color: #d3a700
}

.slider>.show {
    z-index: 1;
}

.hideDots>ul {
    display: none;
}

.showArrows>.left {
    left: 0;
}

.showArrows>.right {
    right: 0;
}

.titleBar {
    z-index: 2;
    display: inline-block;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    padding: 20px 30px;
    transition: .3s;
    color: #fff;
}

.titleBar * {
    transform: translate(-20px, 30px);
    transition: all 700ms cubic-bezier(0.37, 0.31, 0.2, 0.85) 200ms;
    opacity: 0;
}

.titleBarTop .titleBar * {
    transform: translate(-20px, -30px);
}

.slider:hover .titleBar, .slider:hover .titleBar * {
    transform: translate(0);
    opacity: 1;
}

.titleBarTop .titleBar {
    top: 0;
    bottom: initial;
    transform: translateY(-100%);
}

.slider>div span {
    display: block;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: left;
    padding: 0;
    padding-left: 50px;
    padding-bottom: 30px;
    width: 100%;
}

@keyframes boing {
    0% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(.6);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

/*fin slider*/

#menu {
    width: 100%;
    color: black;
    margin-top: -16px;
    position: sticky;
}

#menu i {
    display: none;
    cursor: pointer;
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#menu ul li {
    height: 66px;
    width: 150px;
    list-style: none;
    text-align: center;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    height: 66px;
    width: 150px;
    list-style: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu #h {
    display: none;
}

#menu #social {
    display: none;
}

#menu ul li a:hover {
    background-color: #f1c49b;
    color: black;
    height: 60px;
    border-top: 3px solid #d3a700;
    border-bottom: 3px solid #d3a700;
}

a:visited {
    color: inherit;
}

#informacion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#cuadro {
    height: 250px;
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-left: 120px;
    margin-bottom: 25px;
    animation-name: slideInFromLeft;
    animation-delay: 0.2s;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

#informacion h4 {
    color: #d3a700;
    font-family: 'Montserrat', sans-serif;
}

#informacion p {
    color: grey;
    font-family: 'Montserrat', sans-serif;
}

.slogan {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background-repeat: repeat;
    background-size: 100%;
    align-items: center;
    color: white;
    text-shadow: 0 0 0.2em #342625, 0 0 0.2em #342625;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
}

.crousel-text-shadow {
    text-shadow: 0 0 0.2em #342625, 0 0 0.2em #342625;
}

.slogan-principal {
    background-image: url('../img/continentes.jpg');
}

.continente {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
}

.conti {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    background-color: black;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

#conti-feature-africa {
    background-image: url('../img/continents/africa.jpg');
    background-position: center;
}

#conti-feature-america {
    background-image: url('../img/continents/america.jpg');
    background-position: center;
}

#conti-feature-antartida {
    background-image: url('../img/continents/antartica.jpg');
    background-position: center;
}

#conti-feature-asia {
    background-image: url('../img/continents/asia.jpg');
    background-position: center;
}

#conti-feature-oceania {
    background-image: url('../img/continents/australia.jpg');
    background-position: center;
}

#conti-feature-europa {
    background-image: url('../img/continents/europe.jpg');
    background-position: center;
}

.conti .text, .continente a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: normal;
    display: inline-grid;
    transition: display 0.5s;
    font-size: 24px;
    text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000;
}

.continente a:hover {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    display: inline-grid;
    transition: display 0.5s;
    font-size: 24px;
}

.conti:hover .text {
    display: block;
}

.conti:hover {
    color: rgba(0, 0, 0, 0.6);
}

#footer {
    border-top: 3px solid #d3a700;
    border-bottom: 3px solid #d3a700;
    background-color: #1c1c1c;
    width: 100%;
    height: 60px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    bottom: 0;
}

#footer #social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#footer #social h5 {
    color: white;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

/* TEXTO   */

#titulo {
    justify-content: center;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    animation-name: slideInFromLeft;
    animation-delay: 0.2s;
}

#trabajemos {
    font-size: 50px;
    text-align: center;
}

.caption-1 figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
}

.caption-2 figcaption {
    width: 80%;
    position: absolute;
    bottom: 1rem;
    left: 10%;
    background: rgba(255, 255, 255, 0.6);
}

.caption-3 figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
}

/*
  *
  * ==========================================
  * FOR DEMO PURPOSES
  * ==========================================
  *
  */

body {
    min-height: 100vh;
    background: #eeeeee;
}

.border-md {
    border-width: 2px !important;
}

.separator {
    border-bottom: 1px dashed #aaa;
}

.text-small {
    font-size: 0.85rem;
}