.slogan-bielorusia {
    background-image: url('../html/europa/bielorusia/belarus.jpg');
    background-position: center center;
}

.slogan-belgica {
    background-image: url('../html/europa/belgica/belgium.jpg');
    background-position: center center;
}

.slogan-alemania{
    background-image: url('../html/europa/alemania/alemania.jpg');
    background-position: center center;
}

.slogan-espana{
    background-image: url('../html/europa/españa/españa.jpg');
    background-position: center center;
}
.slogan-italia{
    background-image: url('../html/europa/italia/italia.jpg');
    background-position: center center;
}

/* africa*/

.slogan-argelia{
    background-image: url('../html/africa/argelia/argelia.jpg');
    background-position: center center;
}


.slogan-marfil{
    background-image: url('../html/africa/marfil/marfil.jpg');
    background-position: center center;
}

.slogan-egipto{
    background-image: url('../html/africa/egipto/egipto.jpg');
    background-position: center center;
} 

.slogan-marruecos{
    background-image: url('../html/africa/marruecos/marruecos.jpg');
    background-position: center center;
} 

.slogan-nigeria{
    background-image: url('../html/africa/nigeria/nigeria.jpg');
    background-position: center center;
}