.slogan-bielorusia {
    background-image: url('../html/europa/bielorusia/belarus.jpg');
    background-position: center center;
}

.slogan-belgica {
    background-image: url('../html/europa/belgica/belgium.jpg');
    background-position: center center;
}

.slogan-alemania{
    background-image: url('../html/europa/alemania/alemania.jpg');
    background-position: center center;
}

.slogan-espana{
    background-image: url('../html/europa/españa/españa.jpg');
    background-position: center center;
}