#feature-agra {
    background-image: url('features/agra.jpg');
    background-position: center center;
}

.slogan-agra {
    background-image: url('ciudades/_img/agra/_banner.jpg');
    background-position: center center;
}