#feature-buenosaires {
    background-image: url('features/buenosaires.jpg');
    background-position: center center;
}

.slogan-buenosaires {
    background-image: url('ciudades/_img/buenosaires/_banner.jpg');
    background-position: center center;
}