#feature-bogota {
    background-image: url('features/bogota.jpg');
    background-position: center center;
}

.slogan-bogota {
    background-image: url('features/bogota.jpg');
    background-position: center center;
}