body {
  transition: top 0.9s;
}

#logo {
  z-index: -1;
}

#all {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.9s;
}

#head {
  width: 100%;
  height: 820px;
  display: flex;
  justify-content: center;
  /*background-image: url('img/slide2.jpg');*/
  color: white;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu {
  width: 100%;
  color: black;
  margin-top: -16px;
  position: sticky;
}

#menu i {
  display: none;
  cursor: pointer;
}

#menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#menu ul li {
  height: 60px;
  width: 150px;
  list-style: none;
  text-align: center;
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu #h {
  display: none;
}

#menu #social {
  display: none;
}

#menu ul li:hover {
  background-color: #f1c49b;
  color: black;
  height: 58px;
  border-top: 3px solid #d3a700;
  border-bottom: 3px solid #d3a700;
}

#informacion {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#cuadro {
  height: 250px;
  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 25px;
  margin-left: 120px;
  margin-bottom: 25px;
  animation-name: slideInFromLeft;
  animation-delay: 0.2s;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#informacion h4 {
  color: #d3a700;
  font-family: 'Montserrat', sans-serif;
}

#informacion p {
  color: grey;
  font-family: 'Montserrat', sans-serif;
}

#slogan {
  width: 100%;
  height: 300px;
  background-image: url('img/slide4.jpg');
  display: flex;
  justify-content: center;
  background-repeat: repeat;
  background-size: 100%;
  align-items: center;
  color: white;
  text-shadow: 0 0 0.2em #342625, 0 0 0.2em #342625;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
}

#continente {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
}

#conti {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background-color: black;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#conti #text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: none;
  transition: display 0.5s;
  font-size: 24px;
}

#conti:hover #text {
  display: block;
}

#conti:hover {
  background-image: url('');
}

#conti:nth-of-type(1) {
  background-image: url('continentes/chd1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#conti:nth-of-type(2) {
  background-image: url('continentes/chd2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#conti:nth-of-type(3) {
  background-image: url('continentes/chd3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#conti:nth-of-type(4) {
  background-image: url('continentes/chd4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#conti:nth-of-type(5) {
  background-image: url('continentes/chd5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#conti:nth-of-type(6) {
  background-image: url('continentes/chd6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#footer {
  border-top: 3px solid #d3a700;
  border-bottom: 3px solid #d3a700;
  background-color: #1c1c1c;
  width: 100%;
  height: 60px;
  bottom: 0;
}

#footer #social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#footer #social h5 {
  color: white;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

/*
html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
* { box-sizing: border-box; }
*/
.container {
 /* border: 1px solid #575757;*/
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: absolute;
}
.timer {
  height: 1%;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #09f;
  z-index: 10;
}
.slideshow {
  position: relative;
  height: 100%;
}
.slide {
  width: 100%;
  height: 100%;
  background: #bbb;
  color:#ddd;
  text-align: center;
  line-height: 320px;
  font-size: 640px;
  }

 .slide { display: none;}

.pic1{
  background-image: url('https://raw.githubusercontent.com/dominique120/1684/master/img/ANT.JPEG');
}

.pic2{
  background-image: url('https://raw.githubusercontent.com/dominique120/1684/master/img/EUR.JPEG');
}

.pic3{
  background-image: url('https://raw.githubusercontent.com/dominique120/1684/master/img/ASI.JPEG');
}

.pic4{
  background-image: url('https://raw.githubusercontent.com/dominique120/1684/master/img/AUS.JPEG');
}