 #feature-tokio {
     background-image: url('features/tokio.jpg');
     background-position: center center;
 }

 .slogan-tokio {
     background-image: url('ciudades/_img/tokio/_banner.jpg');
     background-position: center center;
 }

 #feature-osaka {
     background-image: url('features/osaka.jpg');
     background-position: center center;
 }

 .slogan-osaka {
     background-image: url('ciudades/_img/osaka/_banner.jpg');
     background-position: center center;
 }