 #feature-antofagasta {
     background-image: url('features/antofagasta.jpg');
     background-position: center center;
 }

 .slogan-antofagasta {
     background-image: url('features/antofagasta.jpg');
     background-position: center center;
 }