#feature-berlin {
    background-image: url('features/berlin.jpeg');
    background-position: center center;
}

#feature-munich {
    background-image: url('features/munich.jpg');
    background-position: center center;
}

#feature-frankfurt {
    background-image: url('features/frankfurt.jpg');
    background-position: center center;
}

#feature-hamburgo {
    background-image: url('features/hamburgo.jpg');
    background-position: center center;
}

#feature-colonia {
    background-image: url('features/colonia.jpg');
    background-position: center center;
}

.slogan-berlin {
    background-image: url('ciudades/_img/berlin/_banner.jpg');
    background-position: center center;
}

.slogan-munich {
    background-image: url('ciudades/_img/munich/_banner.jpg');
    background-position: center center;
}

.slogan-frankfurt {
    background-image: url('ciudades/_img/frankfurt/_banner.jpg');
    background-position: center center;
}

.slogan-hamburgo {
    background-image: url('ciudades/_img/hamburgo/_banner.jpg');
    background-position: center center;
}

.slogan-colonia {
    background-image: url('ciudades/_img/colonia/_banner.jpg');
    background-position: center center;
}