#feature-1 {
    background-image: url('https://via.placeholder.com/300.png');
}

#feature-2 {
    background-image: url('https://via.placeholder.com/300.png');
}

#feature-3 {
    background-image: url('https://via.placeholder.com/300.png');
}