#feature-constantina {
    background-image: url('features/constantina.jpg');
    background-position: center center;
}

.slogan-constantina {
    background-image: url('features/constantina.jpg');
    background-position: center center;
}