#feature-estambul {
    background-image: url('features/estambul.jpg');
    background-position: center center;
}

.slogan-estambul {
    background-image: url('ciudades/_img/estambul/banner.jpg');
    background-position: center center;
}

#feature-capadocia {
    background-image: url('features/capadocia.jpg');
    background-position: center center;
}

.slogan-capadocia {
    background-image: url('ciudades/_img/capadocia/_banner.jpg');
    background-position: center center;
}