 

#feature-santacruz {
    background-image: url('features/santacruz.jpg');
    background-position: center center;
}
 
 
 
.slogan-santacruz{
    background-image: url('features/santacruz.jpg');
    background-position: center center;
}
 
 