#feature-kiev {
    background-image: url('features/minsk.jpg');
    background-position: center center;
}

#feature-jarkov {
    background-image: url('features/slavgorod.jpg');
    background-position: center center;
}

#feature-dnipropetrovsk {
    background-image: url('features/brest.jpeg');
    background-position: center center;
}

#feature-odesa {
    background-image: url('features/orsha.jpg');
    background-position: center center;
}

.slogan-minsk {
    background-image: url('ciudades/_img/minsk/_banner.jpg');
    background-position: center center;
}