#feature-kiev {
    background-image: url('features/kiev.jpg');
    background-position: center center;
}
 
.slogan-kiev {
    background-image: url('ciudades/_img/kiev/_banner.jpg');
    background-position: center center;
}
