#feature-paris {
    background-image: url('features/minsk.jpg');
    background-position: center center;
}

#feature-marsella{
    background-image: url('features/slavgorod.jpg');
    background-position: center center;
}

#feature-lyon {
    background-image: url('features/brest.jpeg');
    background-position: center center;
}

#feature-toulouse {
    background-image: url('features/orsha.jpg');
    background-position: center center;
}

#feature-niza {
    background-image: url('features/gomel.jpg');
    background-position: center center;
}

#feature-estrasburgo {
    background-image: url('features/mogilev.jpg');
    background-position: center center;
}

.slogan-paris {
    background-image: url('ciudades/_img/minsk/_banner.jpg');
    background-position: center center;
}