#feature-paris {
    background-image: url('features/paris.jpg');
    background-position: center center;
}
 
.slogan-paris {
    background-image: url('ciudades/_img/paris/_banner.jpg');
    background-position: center center;
}

#feature-provenza {
    background-image: url('features/provenza.jpg');
    background-position: center center;
}
 
.slogan-provenza {
    background-image: url('ciudades/_img/provenza/_banner.jpg');
    background-position: center center;
}