/* imagenes de los circulos de paises */

#feature-argentina {
    background-image: url('../america/_img/countries/argentina.jpg');
    background-position: center center;
}

#feature-bolivia {
    background-image: url('../america/_img/countries/bolivia.jpg');
    background-position: center center;
}

#feature-brasil {
    background-image: url('../america/_img/countries/brasil.jpg');
    background-position: center center;
}

#feature-chile {
    background-image: url('../america/_img/countries/chile.jpg');
    background-position: center center;
}

#feature-colombia {
    background-image: url('../america/_img/countries/colombia.jpg');
    background-position: center center;
}

#feature-ecuador {
    background-image: url('../america/_img/countries/ecuador.jpg');
    background-position: center center;
}

#feature-mexico {
    background-image: url('../america/_img/countries/mexico.jpg');
    background-position: center center;
}

#feature-paraguay {
    background-image: url('../america/_img/countries/paraguay.jpg');
    background-position: center center;
}

#feature-peru {
    background-image: url('../america/_img/countries/peru.jpg');
    background-position: center center;
}

#feature-uruguay {
    background-image: url('../america/_img/countries/uruguay.jpg');
    background-position: center center;
}

/* banner pricipal de america */

#slogan-america {
    background-image: url('../america/_img/america.jpg');
    background-position: center center;
}