#feature-bruselas{
    background-image: url('features/brussels.jpg');
    background-position: center center;
}

#feature-brujas{
    background-image: url('features/brugge.jpg');
    background-position: center center;
}

#feature-amberes{
    background-image: url('features/antwerp.jpg');
    background-position: center center;
}

#feature-gante{
    background-image: url('features/ghent.jpg');
    background-position: center center;
}

#feature-lieja{
    background-image: url('features/liege.JPG');
    background-position: center center;
}
 

.slogan-bruselas {
    background-image: url('ciudades/_img/bruselas/brussels.jpg');
    background-position: center center;
}

.slogan-brujas {
    background-image: url('ciudades/_img/brugge/brugge.jpg');
    background-position: center center;
}

.slogan-amberes {
    background-image: url('ciudades/_img/antwerp/antwerp.jpg');
    background-position: center center;
}

.slogan-gante {
    background-image: url('ciudades/_img/ghent/ghent.jpg');
    background-position: center center;
}

.slogan-lieja {
    background-image: url('ciudades/_img/liege/lieje.jpg');
    background-position: center center;
}