#feature-islashetland {
    background-image: url('features/shetland.jpg');
    background-position: center center;
}

.slogan-escocia {
    background-image: url('banner.jpg');
    background-position: center center;
}