#feature-barcelona{
    background-image: url('features/barcelona.jpeg');
    background-position: center center;
}

#feature-valencia {
    background-image: url('features/valencia.jpg');
    background-position: center center;
}

#feature-sevilla {
    background-image: url('features/sevilla.jpg');
    background-position: center center;
}

#feature-zaragoza {
    background-image: url('features/zaragoza.jpg');
    background-position: center center;
}

#feature-malaga {
    background-image: url('features/malaga.jpg');
    background-position: center center;
}