#feature-minsk {
    background-image: url('features/minsk.jpg');
    background-position: center center;
}

#feature-slavgorod {
    background-image: url('features/slavgorod.jpg');
    background-position: center center;
}

#feature-brest {
    background-image: url('features/brest.jpeg');
    background-position: center center;
}

#feature-orsha {
    background-image: url('features/orsha.jpg');
    background-position: center center;
}

#feature-gomel {
    background-image: url('features/gomel.jpg');
    background-position: center center;
}

#feature-mogilev {
    background-image: url('features/mogilev.jpg');
    background-position: center center;
}

.slogan-minsk {
    background-image: url('ciudades/_img/minsk/_banner.jpg');
    background-position: center center;
}