#feature-sidney {
    background-image: url('features/sidney.jpg');
    background-position: center center;
}
 

.slogan-sidney {
    background-image: url('ciudades/_img/sidney/_banner.jpg');
    background-position: center center;
}