#feature-bielorusia {
    background-image: url('../europa/_img/countries/belarus.jpg');
    background-position: center center;
}

#feature-belgica {
    background-image: url('../europa/_img/countries/belgium.jpg');
    background-position: center center;
}

#feature-francia {
    background-image: url('../europa/_img/countries/france.jpg');
    background-position: center center;
}

#feature-alemania {
    background-image: url('../europa/_img/countries/alemania.jpg');
    background-position: center center;
}

#feature-latvia {
    background-image: url('../europa/_img/countries/latvia.jpg');
    background-position: center center;
}

#feature-espana {
    background-image: url('../europa/_img/countries/spain.jpg');
    background-position: center center;
}

#feature-ucrania {
    background-image: url('../europa/_img/countries/ukraine.jpg');
    background-position: center center;
}

#feature-italia {
    background-image: url('../europa/_img/countries/italy.jpg');
    background-position: center center;
}

#slogan-europa {
    background-image: url('../europa/_img/europe.jpg');
    background-position: center center;
}