#feature-lagos {
    background-image: url('features/lagos.jpg');
    background-position: center center;

} 
.slogan-lagos {
    background-image: url('ciudades/_img/lagos/_banner.jpg');
    background-position: center center;
}