#feature-china {
    background-image: url('../asia/_img/countries/china.jpg');
    background-position: center center;
}

#feature-india {
    background-image: url('../asia/_img/countries/india.jpg');
    background-position: center center;
}

#feature-indonesia {
    background-image: url('../asia/_img/countries/indonesia.jpg');
    background-position: center center;
}

#feature-japon {
    background-image: url('../asia/_img/countries/japon.jpg');
    background-position: center center;
}

#feature-turquia {
    background-image: url('../asia/_img/countries/turquia.jpg');
    background-position: center center;
}

#feature-mongolia {
    background-image: url('../asia/_img/countries/mongolia.jpg');
    background-position: center center;
}

#feature-kyrgystan {
    background-image: url('../asia/_img/countries/kyrgystan.jpg');
    background-position: center center;
}

#feature-iraq {
    background-image: url('../asia/_img/countries/iraq.jpg');
    background-position: center center;
}

/* banner pricipal de asia */

#slogan-asia {
    background-image: url('../asia/_img/asia.jpg');
    background-position: center center;
}