#feature-minsk {
    background-image: url('https://www.aeroflot.ru/media/aflfiles/by/msq/msq_2.jpg');
}

#feature-slavgorod {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e0/%D0%A1%D0%BB%D0%B0%D0%B2%D0%B3%D0%BE%D1%80%D0%BE%D0%B4_%D0%B6%D0%B4_%D0%B2%D0%BE%D0%BA%D0%B7%D0%B0%D0%BB.jpg');
}

#feature-brest {
    background-image: url('https://img.locationscout.net/images/2018-11/orthodox-church-in-brest-belarus_l.jpeg');
}

#feature-orsha {
    background-image: url('https://i.ytimg.com/vi/r7g4fKp3k5A/maxresdefault.jpg');
}

#feature-gomel {
    background-image: url('https://previews.123rf.com/images/grigory_bruev/grigory_bruev1901/grigory_bruev190100502/116659112-gomel-belarus-parade-of-russian-soviet-military-warfare-of-ww2-time-with-re-enactors-dressed-as-red-.jpg');
}

#feature-mogilev {
    background-image: url('https://yesbelarus.com/usersdata/users/63/documents_files/28a543c2a9eee8c0d6fbfaff7ca7e224.jpg');
}