#feature-riodejaneiro {
    background-image: url('https://i.ytimg.com/vi/vlxqterQMhs/maxresdefault.jpg');
}

#feature-saopaulo {
    background-image: url('https://www.icex.es/icex/wcm/idc/groups/public/documents/imagen/mde3/nzy5/~edisp/img2017769005.jpg');
}

#feature-portoalegre {
    background-image: url('https://d1mf1z6ly2q1ok.cloudfront.net/Pictures/480xAny/3/7/1/89371_89371-porto_alegre.jpg');
}

#feature-brasilia {
    background-image: url('https://www.fotonostra.com/albums/america/fotos/brasilia.jpg');
}

#feature-belohorizonte {
    background-image: url('http://img.viajeabrasil.com/belo-horizonte1.jpg');
}

.slogan-riodejaneiro {
    background-image: url('ciudades/_img/minsk/_banner.jpg');
    background-position: center center;
}

.slogan-saopaulo {
    background-image: url('ciudades/_img/minsk/_banner.jpg');
    background-position: center center;
}

.slogan-portoalegre {
    background-image: url('ciudades/_img/minsk/_banner.jpg');
    background-position: center center;
}

.slogan-brasilia {
    background-image: url('ciudades/_img/minsk/_banner.jpg');
    background-position: center center;
}

.slogan-belohorizonte {
    background-image: url('ciudades/_img/minsk/_banner.jpg');
    background-position: center center;
}