#feature-australia {
    background-image: url('../oceania/_img/countries/australia.jpg');
    background-position: center center;
}

#feature-zelanda {
    background-image: url('../oceania/_img/countries/zelanda.jpg');
    background-position: center center;
}

#feature-guinea {
    background-image: url('../oceania/_img/countries/guinea.jpg');
    background-position: center center;
}

/* banner pricipal de oceania */

#slogan-oceania {
    background-image: url('../oceania/_img/oceania.jpg');
    background-position: center center;
}