/* imagenes de los circulos de paises */

#feature-argelia {
    background-image: url('../africa/_img/countries/argelia.jpg');
    background-position: center center;
}

#feature-marfil {
    background-image: url('../africa/_img/countries/marfil.jpg');
    background-position: center center;
}

#feature-egipto {
    background-image: url('../africa/_img/countries/egipto.jpg');
    background-position: center center;
}

#feature-marruecos {
    background-image: url('../africa/_img/countries/marruecos.jpg');
    background-position: center center;
}

#feature-nigeria {
    background-image: url('../africa/_img/countries/nigeria.jpg');
    background-position: center center;
}

/* banner pricipal de africa */

#slogan-africa {
    background-image: url('../africa/_img/africa.jpg');
    background-position: center center;
}
