#feature-arequipa {
    background-image: url('features/arequipa.jpg');
    background-position: center center;
}

.slogan-arequipa {
    background-image: url('ciudades/_img/arequipa/_banner.jpg');
    background-position: center center;
}

#feature-ica {
    background-image: url('features/ica.jpg');
    background-position: center center;
}

.slogan-ica {
    background-image: url('ciudades/_img/ica/_banner.jpg');
    background-position: center center;
}