#feature-abiyan {
    background-image: url('features/abiyan.jpg');
    background-position: center center;

} 

.slogan-abiyan {
    background-image: url('ciudades/_img/abiyan/_banner.jpg');
    background-position: center center;
}