#feature-asuncion {
    background-image: url('features/asuncion.jpg');
    background-position: center center;
}
  
.slogan-asuncion {
    background-image: url('ciudades/_img/asuncion/_banner.jpg');
    background-position: center center;
}
 