#feature-beijing {
    background-image: url('features/beijing.jpg');
    background-position: center center;
}

.slogan-beijing {
    background-image: url('ciudades/_img/beijing/_banner.jpg');
    background-position: center center;
}