#feature-auckland {
    background-image: url('features/auckland.jpg');
    background-position: center center;
}
 
.slogan-auckland {
    background-image: url('ciudades/_img/auckland/_banner.jpg');
    background-position: center center;
}