#feature-quito {
    background-image: url('features/quito.jpg');
    background-position: center center;
}
  

.slogan-quito {
    background-image: url('ciudades/_img/quito/_banner.jpg');
    background-position: center center;
}
 