#feature-montevideo {
    background-image: url('https://ep01.epimg.net/sociedad/imagenes/2019/03/25/actualidad/1553539191_185403_1553539418_noticia_normal.jpg');
}

#feature-puntadeleste {
    background-image: url('https://www.tripsavvy.com/thmb/pPSq4jFYmeSUT_CyJL90Foa4aU0=/2301x1303/filters:fill(auto,1)/aerial-view--high-angle-view-of-la-barra-beach--punta-del-este-city--uruguay-955575922-5b7d7142c9e77c0050f23610.jpg');
}

#feature-salto {
    background-image: url('http://img.viajeauruguay.com/ciudad-de-salto.jpg');
}

#feature-rivera {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/31/RiveraCerroMarconi.jpg');
}

#feature-maldonado {
    background-image: url('https://2.bp.blogspot.com/-Bqgo0hZvpYg/WVmV1DxFC2I/AAAAAAACQc8/hfiM51sk1yspBtPizNMCPdOfbM9ilyfLwCLcBGAs/s640/uruguay%2Bscenic%2B003.jpg');
}
